$primary-color: #ff6257;
$blue-800: hsl(234, 29%, 20%);
$blue700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%,58%);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: roboto,sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 460px;
    margin: 50px auto;
    border: 2px solid red;
}

// ******
// IMG ** 
// ******

.container__img-container {
    width: 100%;
    margin-bottom: 1rem;
}
.mobile-img {
    width: 100%;
}


//**********
// CONTENT**
//**********

.container__content {
    padding: 10px;

    .content__title {
        margin-bottom: 0.6rem;
    }
    .content__text {
        margin-bottom: 1.2rem;
    }
}

// **************
// CONTENT LIST**
// **************

.content__list {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .list-item {
        display: flex;
        gap: 8px;
    } 
    .list__text {
    
    } 
} 

//*******
// FORM** 
//*******

