$primary-color: #ff6257;
$blue-800: hsl(234, 29%, 20%);
$blue700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%, 58%);

@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: #36384d;
    font-family: "Roboto";
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.normal-container {
    display: flex;
    min-width: 300px;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    height: 700px;
}

// ******
// IMG **
// ******

.container__img-container {
    margin-bottom: 1rem;
    height: 35%;
}
.mobile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
}

//**********
// CONTENT**
//**********

.container__content {
    padding: 0 15px 30px 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .content__title {
        margin-bottom: 0.6rem;
        color: #232742;
    }
    .content__text {
        margin-bottom: 1.2rem;
    }
}

// **************
// CONTENT LIST**
// **************

.content__list {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .list-item {
        display: flex;
        gap: 8px;
    }
    .list__text {
    }
}

//*******
// FORM**
//*******

// .container__content > * {
//     border: 2px solid black;
// }

.form {
    margin-top: auto;
}

.form__email-text {
    color: #232742;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    font-weight: 700;
}

.button {
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 0.8rem 1.6rem;
}

.form__email-input {
    width: 100%;
    margin-bottom: 0.6rem;
    color: #bbb;
    outline: 2px solid #999;
}

.form__button {
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #232742;
    border: none;
    color: white;
    border-radius: 6px;
}

/* SUCESS CONTAINER  */
.hidden {
    display: none !important;
}

.success-container {
    height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.success__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 350px;
    margin-top: -8rem;
    // margin-bottom: 10rem;
    gap: 1rem;
    flex: 1;
    .success-icon {
        margin-bottom: 1rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    .success__title {
        width: 75%;
        font-size: 2.4rem;
    }
    .success__text {
        .link {
            font-weight: 700;
        }
    }
}
.footer__button {
    color: white;
    font-weight: 700;
    background-color: #232742;
    border: none;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

@media (min-width: 1050px) {

    .success-container {
        width: 400px;
        height: auto;
        padding: 30px;
    }
    
    .success__main {

        margin-top: 0;
        .success__text {
            margin-bottom: 2rem;
        .link {
            font-weight: 700;
        }
    }
    }

    .main-container {
        // max-height: 600px;
        // height: 500px;
        overflow: auto;
    }
    
    .normal-container {
        display: flex;
        max-width: 1000px;
        flex-direction: row;
        padding: 20px;
        height: 600px;
        .container__content {
            display: flex;
            justify-content: center;
            padding: 0 60px;
            flex: 0 0 55%;
            .form {
                margin-top: 0;
            }
            .content__title {
                text-align: start;
                font-size: 3.9rem;
            }
            .content__text {
                margin-bottom: 1.5rem;
            }
            .content__list {
                margin-bottom: 3rem;
            }
        }
    }

    .container__img-container {
        margin-bottom: 0;
        display: flex;
        // flex: 1;
        margin-left: auto;
        order: 2;
        height: 100%;
        .mobile-img {
            margin-left: auto;
            height: 100%;
            object-fit: contain;
        }
    }
}
